html{/*Hecho por AnderSuar 95*/
background-image: url("https://www.teahub.io/photos/full/127-1276342_cool-video-game-wallpapers-fondo-de-pantalla-gamer.jpg");
background-position-x:center;
background-position-y:center;
background-size: 86rem;
background-repeat:no-repeat;
}

body{/*Hecho por AnderSuar 95*/
background-color: #2c2f33;
font-family:"Segoe UI", "Helvetica Neue", sans-serif;
margin: 2em auto;
padding: 1em 2em;
max-width: 700px;
-webkit-box-shadow: 0 1px 3px #00000021;
box-shadow: 0 1px 3px #00000021;
border-radius: 1.5rem;
}

#err p{/*Hecho por AnderSuar 95*/
font-size: 14px;
line-height: 1.5;
margin: 25px 0 20px;
}
h1{/*Hecho por AnderSuar 95*/
  color:#99aab5;
  font-size: 42px;
  margin: 25px 0 0 0;
  padding: 0 0 5px;
  }
  
  h2{/*Hecho por AnderSuar 95*/
  border-bottom: 1px solid #dadada;
  clear: both;
  color: #666;
  font-size: 24px;
  margin: 30px 0 0 0;
  padding: 0 0 7px;
  }
  
  p{/*Hecho por AnderSuar 95*/
  color:#99aab5;
  }
  
  a:hover{/*Hecho por AnderSuar 95*/
  color: #5b9dd9;
  }
  
  ul li{/*Hecho por AnderSuar 95*/
  margin-bottom: 10px;
  font-size: 14px;
  }
  
  .button{/*Hecho por AnderSuar 95*/
  background: #f7f7f7;
  border: 1px solid #ccc;
  color: #555;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  vertical-align: top;
  }
  
/*Hecho por AnderSuar 95*/
/*
.button.button-large {
height: 30px;
line-height: 28px;
padding: 0 12px 2px;
}

.button:hover,
.button:focus {
background: #fafafa;
border-color: #999;
color: #23282d;
}

.button:focus {
border-color: #5b9dd9;
-webkit-box-shadow: 0 0 3px #0073aacc;
box-shadow: 0 0 3px #0073aacc;
outline: none;
}

.button:active {
background: #eee;
border-color: #999;
-webkit-box-shadow: inset 0 2px 5px -3px #00000080;
box-shadow: inset 0 2px 5px -3px #00000080;
-webkit-transform: translateY(1px);
-ms-transform: translateY(1px);
transform: translateY(1px);
}*/
/*Hecho por AnderSuar 95*/
/*<h4 class="gradient-text">Title</h4>*/
/*
.gradient-text {
  background-image: linear-gradient(#99aab5, #2c2f33);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}*/

.imgd {
  width:60px;
  height:60px;
  border-radius:30px;
/*
  display: block;
  margin-left: auto;
  margin-right: auto;
*/
}
.ab-download {/*Hecho por AnderSuar 95*/
display:inline-block;
font-family:Arial;
background:#f5f5f5;
text-align:center;
border:1px solid #bcc8cf;
box-shadow:0 2px 1px #bcc8cf;
margin:30px 40px;
padding:15px;
border-radius:10px;
min-width:100px;
}

.ab-icon {/*Hecho por AnderSuar 95*/
display:block;
width:90px;
height:90px;
margin:0 auto;
}

.ab-name {/*Hecho por AnderSuar 95*/
color:#222;
font-style:italic;
}

.ab-size {/*Hecho por AnderSuar 95*/
display:block;
padding:10px;
font-size:11px;
color:#888;
}

.download-message {/*Hecho por AnderSuar 95*/
display:block;
margin:0 -2px;
cursor:pointer;
background:#1976d2;
background:linear-gradient(#2196f3, #1565c0);
box-shadow:0 1px 0 #1976d2;
text-align:center;
padding:12px;
color:#f5f5f5;
font-weight:bold;
border-radius:5px;
}

.download-message:hover {/*Hecho por AnderSuar 95*/
box-shadow: 0 0 4px #1976d2;
}

/*Tipos de archivo*/
.drive {/*Hecho por AnderSuar 95*/
background:url(https://i.ibb.co/wS4k3YC/image.png) no-repeat center;
}/*Hecho por AnderSuar 95*/
.mediafire {
background:url(https://i.ibb.co/2YwRJgZ/image.png) no-repeat center;
}/*Hecho por AnderSuar 95*/
.mega {/*Hecho por AnderSuar 95*/
background:url(https://i.ibb.co/bXtcc9t/mega.png) no-repeat center;
}/*Hecho por AnderSuar 95*/
.shared {/*Hecho por AnderSuar 95*/
background:url(https://i.ibb.co/CWVDCG5/4shared.png) no-repeat center;
}/*Hecho por AnderSuar 95*/
.download {/*Hecho por AnderSuar 95*/
background:url(https://i.ibb.co/gF5BQzX/image.png) no-repeat center;
}/*Hecho por AnderSuar 95*/